.cards {
}

.cards__text {
  padding: 40px 0 34px 0;
  font-size: 20px;
  font-weight: 700;
}

.cards__list {
  color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 21px;
  list-style-type: none;
}
