.clothes-section__top {
  display: flex;
  gap: 20px;
}

.clothes-section__items {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.clothes-section__header {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}

.clothes-section__btn {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
