.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.modal__label {
  display: block;
  margin-bottom: 8px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid rgb(84 84 84 / 1);
  width: 100%;
  padding: 8px 0;
}

.modal__legend {
  padding: 24px 0 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-top: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  background-image: url(../assets/close-button.png);
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}
