.header {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  font-weight: 700;
}

.header__date-and-location {
  margin: 0;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.header__username {
  margin: 0;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
