.card {
  width: 323px;
  position: relative;
}

.card__name {
  position: absolute;
  top: 15px;
  right: 125px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  background-color: #fff;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  border-radius: 20px;
  width: 100%;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__like-button {
  position: absolute;
  top: 20px;
  right: 75px;
  background-image: url("../assets/heart-disabled.svg");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  border-style: none;
  transition: opacity 0.4s ease-in-out;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../assets/heart-active.svg");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  background-color: #fff;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}
